app/web/*
!app/web/index.html
app/php/*
app/php/public/*
!app/php/public/index.php
app/ruby/*
!app/ruby/.gitkeep

log/nginx/default/*
!log/nginx/default/.gitkeep
log/nginx/web/*
!log/nginx/web/.gitkeep
log/nginx/php/*
!log/nginx/php/.gitkeep
log/nginx/ruby/*
!log/nginx/ruby/.gitkeep
log/php/codeigniter/*
!log/php/codeigniter/.gitkeep
log/ruby/*
!log/ruby/.gitkeep
